
html, body, .quiz {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: system-ui, sans-serif;
}


.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1e6338;  
  padding: 10px;
}


  .home-logo {
    width: 280px;
    height: auto;
  }
  
 
  .game-title {
    font-family: "Comic Sans MS", cursive;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 550px;
  }
  
 
  .menu-btn {
    font-family: "Comic Sans MS", cursive;
    width: 70%;
    padding: 20px;
    border: none;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
  }
  
  .menu-btn.start { background: #b08968; }
  .menu-btn.info { background: #6f4a8e; }
  .menu-btn.dict { background: #468faf; }
  
  .menu-btn:hover {
    transform: scale(1.05);
  }
  


