/*
=================================================
Owned by Team 04
=================================================
*/

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

#app {
    height: 100%;
    width: 100%;
}

/* NOTE: This targets our "game-frame". Should be given a name in the future */
#app > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* Cards + Clock */ 
.center-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}






