<!doctype html>

<html lang="sv">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Hitta rätt hus</title>

    <link rel="stylesheet" href="./menu.css">
  <script type="module" src="./menu.js"></script>
  <script src="../../../scripts/save.js"></script>
  <script src="../progress/points.js" defer></script>
</head>

<body>
    <main>
        <h1 id="menu-title" class="translate">Hitta rätt hus</h1>
        <p id="menu-instruction" class="translate">Välj svårighetsgrad:</p>

        <div class="buttons">
            <a href="../game/game.html?difficulty=1" id="lvl1" class="btn start">
                1 - Adresser och nummer
            </a>

            <a href="../game/game.html?difficulty=2" id="lvl2" class="btn start">
                2 - Riktningar
            </a>

            <a href="../game/game.html?difficulty=3" id="lvl3" class="btn start">
                3 - Färdsätt
            </a>

            <!--<a href="../progress/points.html" class="btn score">
                Visa framsteg
            </a>-->
        </div>
        <div class="bubble" id="bubble"></div>
        <div class="characters">
          <img src="../../images/personer.png" alt="Person" class="character">
          <img src="../../images/house.png" alt="House" class="house">
        </div>


    </main>
</body>
</html>

