# Fallback, if no other rule matches
* @xFrednet

# Admin files
/.gitattributes @xFrednet
/CODEOWNERS @xFrednet
/.gitignore @xFrednet
/README.md @xFrednet
/.github @xFrednet

# Files owned by the data team
/words.csv @uu-semp/2025-data-team
/assets/gen-vocab.py @uu-semp/2025-data-team
/assets/vocabulary.json @uu-semp/2025-data-team
/assets/categories.json @uu-semp/2025-data-team

# Files owned by the menu team
/scripts/save.js @uu-semp/2025-menu-team
/scripts/SAVE.MD @uu-semp/2025-menu-team
/scripts/save_test.html @uu-semp/2025-menu-team
/index.css @uu-semp/2025-menu-team
/index.html @uu-semp/2025-menu-team
/index.js @uu-semp/2025-menu-team
/style.css @uu-semp/2025-menu-team
/assets/main_menu @uu-semp/2025-menu-team

# Game Teams:

/team01/ @uu-semp/2025-team-01
/assets/team01/ @uu-semp/2025-team-01
/team02/ @uu-semp/2025-team-02
/assets/team02/ @uu-semp/2025-team-02
/team03/ @uu-semp/2025-team-03
/assets/team03/ @uu-semp/2025-team-03
/team04/ @uu-semp/2025-team-04
/assets/team04/ @uu-semp/2025-team-04
/team05/ @uu-semp/2025-team-05
/assets/team05/ @uu-semp/2025-team-05
/team06/ @uu-semp/2025-team-06
/assets/team06/ @uu-semp/2025-team-06
/team07/ @uu-semp/2025-team-07
/assets/team07/ @uu-semp/2025-team-07
/team08/ @uu-semp/2025-team-08
/assets/team08/ @uu-semp/2025-team-08
/team09/ @uu-semp/2025-team-09
/assets/team09/ @uu-semp/2025-team-09
/team10/ @uu-semp/2025-team-10
/assets/team10/ @uu-semp/2025-team-10
/team11/ @uu-semp/2025-team-11
/assets/team11/ @uu-semp/2025-team-11
# Menu team:
# /team12/ @uu-semp/2025-team-12
/team13/ @uu-semp/2025-team-13
/assets/team13/ @uu-semp/2025-team-13
/team14/ @uu-semp/2025-team-14
/assets/team14/ @uu-semp/2025-team-14
/team15/ @uu-semp/2025-team-15
/assets/team15/ @uu-semp/2025-team-15
/team16/ @uu-semp/2025-team-16
/assets/team16/ @uu-semp/2025-team-16
