/*
=================================================
Owned by Team 07
=================================================
*/

.game-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-frame .image-container {
    display: grid;
    grid-template-columns: auto auto;  
    gap: 20px;
    max-width: 250px;   /* Storlek av bilder*/
    margin: 1rem auto;     
    align-items: center;
    justify-items: center;
}

.game-frame .image-container img {
    width: 100%;    
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    display: block;
    border: 2px solid #000000;
    cursor: pointer;
    transition: border-color 0.15s;
}

.game-frame .image-container img.correct {
    border: 3px solid #2e7d32;
    box-shadow: 0 0 4px #2e7d32;
}
.game-frame .image-container img.incorrect {
    border: 3px solid #c62828;
    opacity: .75;
}

.game-frame .fa-volume-high {
    color: black;
    cursor: pointer;
    font-size: 2rem;
}

.game-frame .fa-solid.fa-arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
}


.game-frame #next-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}


