/*
=================================================
Owned by Team 07
=================================================
*/

.game-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-frame .image-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    max-width: 250px;
    /* Storlek av bilder*/
    margin: 1rem auto;
    align-items: center;
    justify-items: center;
}

.game-frame .image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border: 6px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.15s, box-shadow 0.15s, opacity 0.15s;
}

.game-frame .image-container img.correct {
    border-color: green;
    box-shadow: 0 0 4px darkgreen;
}

.game-frame .image-container img.incorrect {
    border-color: red;
    box-shadow: 0 0 0 4px darkred;
    opacity: .65;
}

.game-frame .fa-volume-high {
    color: black;
    cursor: pointer;
    font-size: 2rem;
}

.game-frame .fa-solid.fa-arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
}


.game-frame #next-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.game-frame #start-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.game-frame #copyright-button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.game-frame #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    padding: 5px;
}

.game-frame #overlay button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}