<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What garment am I?</title>

 
  <link rel="stylesheet" href="../../Global.css">

  
  <link rel="stylesheet" href="GameMainPage.css">
</head>
<body>

  <main class="quiz">
   
    <section class="image-area">
      <img src="../../assets/images/tshirt.png" alt="Game Logo" class="home-logo" />
    </section>

    
    <h1 class="game-title">What garment am I?</h1>

    
    <section class="menu">
      <button class="menu-btn start" onclick="startGame()">Start game</button>
      <button class="menu-btn info" onclick="openInfo()">Educational Information</button>
      <button class="menu-btn dict" onclick="openDictionary()">Dictionary</button>
    </section>
  </main>

  <script src="GameMainPage.js"></script>
</body>
</html>
