:root {
  --color-primary: blue;
  --color-hover: yellow;
  --color-correct: green;
  --color-incorrect: red;
  --color-background: #f9f9f9;
  --color-text: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  text-align: center;
  
}

.game {
  max-width: 800px;
  margin: auto;
  padding: 5rem;
}

.game_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  position: relative;
}

#title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.settings-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.settings-btn:hover {
  transform: scale(1.2);
}

.settings-modal {
  padding: 2rem;
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.game_content {
  margin-bottom: 2rem;
  
}

.image-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.image-item {
  position: relative;
}

.option-btn {
  width: 20rem;
  height: 20rem;
  border: 0.3rem solid var(--color-primary);
  padding: 0;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.option-btn:hover {
    border-color: var(--color-hover);
}

.option-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.result-text {
  position: absolute;
  bottom: 19rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text);
  display: none;
  width: 100%;
}

.footer_top-row {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
}

.control-btn {
  width: 7rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: 0.2rem solid var(--color-primary);
  transition: background-color 0.3s ease;
}

.control-btn:hover {
  background-color: var(--color-hover);
}

#next-btn {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

