.room-container { 
    /* Remove me when you put me in the div */
    position: relative;
    width: 580px;
    height: 332.2px;
    perspective: 1000px; 
    background-color: lightgrey;
}

.floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    transform-origin: bottom;
    transform: rotateX(75deg);
    display: flex;
} 

.floor-tile {
    flex: 1;
    border: 2px solid #a3856a;
    background-color: #c5a98b;
    transition: background-color 0.2s ease;
}

.window {
    position: absolute;
    width: 20%;
    height: 35%;
    top: 20%;
    left: 50%;
    background: lightblue;
    border: 10px solid white;
    transform: translateX(-50%);
}

.pane-h {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.pane-v {
    position: absolute;
    background-color: white;
    width: 5px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.baseboard {
    position: absolute;
    width: 98%;
    height: 15px;
    background-color: #f5f5f5;
    left: 1%;
    bottom: 20%;
    transform: translateZ(-200px);
}
