<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Dictionary</title>

  <link rel="stylesheet" href="../Global.css">
  <link rel="stylesheet" href="../Styles/DictionaryPage.css" />
</head>
<body>
  <main class="game-frame">
        <header><h1>Dictionary</h1></header>  
        <button class="backtomainpage-btn" onclick="goBacktomainpage()">⬅</button>
        <section id="dict"></section>
    </main>

  <script src="../../scripts/vocabulary.js" defer></script>
  <script src="../JS/DictionaryPage.js" defer></script>

</body>
</html>