<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Educational Information</title>

  <link rel="stylesheet" href="../Global.css">
  <link rel="stylesheet" href="../Styles/Information.css">
</head>
<body>

  <main class="quiz">


    <div class="top-bar">
      <button class="backtomainpage-btn" onclick="goBacktomainpage()">⬅</button>
      <h2>Educational Information</h2>
    </div>

    <section class="content">
      <p>This Basic Swedish Language Game is made to help exchange students at Uppsala University learn Swedish in a fun way.</p>
      <p>It lets players practice basic vocabulary and grammar through interactive activities and playful exercises.</p>
      <p>The game mainly focus on clothing, so players can practice common Swedish clothing terms and the correct use of articles (en/ett).</p>
      <p>Mostly of the words come from the Basic Swedish 1 course.</p>
      <p>The game includes multiple levels with increasing difficulty, players can follow the instructions and complete the exercises step by step.</p>
      <p>Players can receive immediate feedback on their answers and can track their progress as playing.</p>
      <p>After completing the game, users can see the number of mistakes they made,  which helps them know what to practice more.</p>
      <p>Have fun and learn Swedish at the same time!</p>
    </section>
    <div class="page-bottom">
      <small>Created as part of the "Software Engineering and Project Management" course 2025</small>
    </div>
    

  </main>


  <script src="../JS/Inforamtion.js"></script>




</body>
</html>