<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Level</title>

  
  <link rel="stylesheet" href="../Global.css">
  <link rel="stylesheet" href="../Styles/levelSelect.css">
</head>
<body>
  <main class="quiz">
    
    <button class="backtomainpage-btn" onclick="goBacktomainpage()">⬅</button>

    
    <h1 class="level-title">Choose Your Level</h1>

    
    <section class="level-grid">
      <button class="level-btn level1" onclick="startLevel(1)">Level 1</button>
      <button class="level-btn level4" onclick="startLevel(4)">Level 4</button>
      <button class="level-btn level2" onclick="startLevel(2)">Level 2</button>
      <button class="level-btn level5" onclick="startLevel(5)">Level 5</button>
      <button class="level-btn level3" onclick="startLevel(3)">Level 3</button>
      <button class="level-btn level6" onclick="startLevel(6)">Level 6</button>
    </section>
  </main>

  <script src="../JS/levelSelect.js"></script>
</body>
</html>
