/* Wardrobe specific styling */

.wardrobe {
  background-color: #ceffd7;
  border: solid;
  border-width: 10px;
  border-radius: 30px;
  border-color: #02b823;
  height: 350px;
  width: 400px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr)
}

.button-image {
  border: 2px dotted #02b823;
  font-size: 30px;
  background-color: #ceffd7;
  text-align: center;
}

.button-image:hover {
  transform: scale(1.05);
  cursor: grab;
}

.button-image:active {
  box-shadow: 0 0 10px #2d2d2d;
} 