/* Wardrobe specific styling */

.wardrobe {
  background-color: #ceffd7;
  border: solid;
  border-width: 10px;
  border-radius: 30px;
  border-color: #02b823;
  height: 300px;
  width: 350px;
  float: right;
  margin: 20px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.clothing-button {
  border-radius: 45px;;
  background-color: #ceffd7;
  border-width: 0px;
}

.clothing-button:hover img{
  transform: scale(1.2);
  transition: all 0.8s ease;
  cursor: grab;
}


.clothing-button:active img{
  filter: brightness(1.1);
  cursor:grabbing;
}

.round-button:hover {
  cursor: grab;
}

.round-button:active {
  box-shadow: 0 0 2px #676767;
}

.round-button {
  width: 80px;
  height: 80px;
  background-color: #ceffd7;
  border: solid;
  border-color: #02b823;
  border-width: 8px;
  border-radius: 100%;
}

.category-container {
  margin-top: -15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.selectedCategoryButton{
  background-color:#a8feb8;
  width:85px;
  height: 85px;;
}