.clock-group {
    --clock-group-width: 300px;
    --clock-group-height: 300px;
    background-image: url("../assets/images/clock-license-safe.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--clock-group-width);
    height: var(--clock-group-height);
}

.clock-background {
    width: 50%;
    position: absolute;
}

.clock-hand {
    background-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.6);
    height: 7px;
    left: calc(var(--clock-group-width) / 2);
    position: relative;
    transform-origin: left;
    transition: transform 1.5s ease;
    will-change: transform;
}

#minute-hand {
    background-color: red;
    top: calc(var(--clock-group-height) / 2 - 14px);
    transform: rotate(0deg);
    width: calc(var(--clock-group-height) / 2 - 40px);
}

#hour-hand {
    height: 10px;
    top: calc(var(--clock-group-height) / 2 - 4px);
    transform: rotate(0deg);
    width: calc(var(--clock-group-height) / 2 - 60px);
}