/*
=================================================
Owned by Team 11
=================================================
*/

body {
    font-family: Arial, sans-serif;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.game-frame {
    width: 800;
    height: 600;
    border-style: solid;
    border-width: 1vh;
}
