/*
=================================================
Owned by Team 11
=================================================
*/

body {
    font-family: Arial, sans-serif;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

/* .game-frame {
    background-image: url(assets/Background.png);
    
} */

#shopping-cart {
    width: 50px;
    height: 50px;
    content: url(assets/ShoppingCart.png)
}

.game-frame {
  position: relative;     

}

.paper {
  position: absolute;
  top: 2px;
  left: 25px;
  width: 350px;
  height: 400px;
}

.character {
  position: absolute;
  top: 300px; 
  left: 5px;
  width: 300px;
  height: auto;
}

.cart {
  position: absolute;
  top: 320px;  
  left: 160px; 
  width: 250px;
  height: auto;
}


.shelf {
  position: absolute;
  top: 75px;
  right: 2px;
  left: 320px;
  width: auto;  
  height: 1000px; 
  object-fit: cover;
}

  


