<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Dina framsteg</title>
  <link rel="stylesheet" href="points.css">
</head>
<body>
  <h2>Dina framsteg</h2>
  <script src="../../../scripts/save.js" defer></script>
  <script src="./points.js" defer></script>
  
  
  <ul>
    <li>
        <strong>Adresser och nummer:</strong>
        <span id="lvl1" class="badge">Laddar…</span>
    </li>
    <li>
        <strong>Riktningar:</strong>
        <span id="lvl2" class="badge">Laddar…</span>
    </li>
    <li>
        <strong>Färdsätt:</strong>
        <span id="lvl3" class="badge">Laddar…</span>
    </li>
  </ul>
  <p><a href="../menu/index.html" class="start-page-button">⬅ Tillbaka</a></p>
 
</body>
</html>
