<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Basic Static Site</title>
    <link rel="stylesheet" href="../style.css" />

    <script src="../scripts/vocabulary.js"></script>
    <script src="../scripts/save.js"></script>

    <!-- You are allowed to use JQuery and Vue.js but don't have to. They just make a
    lot of things easier
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Site specific scripts and styles -->
    <link rel="stylesheet" href="clock.css" />
    <script src="./clock.js" defer></script>
</head>

<body>
    <div class="clock">
        <div class="clock-face">
            <div class="number number1">1</div>
            <div class="number number2">2</div>
            <div class="number number3">3</div>
            <div class="number number4">4</div>
            <div class="number number5">5</div>
            <div class="number number6">6</div>
            <div class="number number7">7</div>
            <div class="number number8">8</div>
            <div class="number number9">9</div>
            <div class="number number10">10</div>
            <div class="number number11">11</div>
            <div class="number number12">12</div>
            <div class="hand hour-hand" id="hour-hand"></div>
            <div class="hand minute-hand" id="minute-hand"></div>
            <script type="module">
                import { setAnalogTime } from "./clock.js";
                window.setAnalogTime = setAnalogTime;
            </script>
        </div>
    </div>
</body>