
.help-btn {
  position: absolute;
 top: 20px;
  right: 90px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #b08968;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #9bbf92;
  color: white;
  padding: 20px;
  border-radius: 30px;
  width: 700px;
  height: 500px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  font-size: 40px;
  z-index: 100;
  font-weight: bold;
  text-align: center;

}
.result-Popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #9bbf92;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  text-align: center;
  color: white;
  width: 700px;
  height: 500px;
  z-index: 1000;
}
.result-Popup.hidden { display: none; }

.help-popup.hidden {
  display: none;
}


.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}


.image-area {
  width: 600px;
  height: 400px;
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
#vocabImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: 70%;
}
.option {
  background: #9bbf92;
  border-radius: 30px;
  padding: 24px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: none;
  transition: background .2s ease;
}
.option.correct { background: #2ecc71; }
.option.wrong { background: #e74c3c; }


.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
}
.progress-wrap {
  flex: 1;
  height: 25px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 20px;
}
.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4f46e5, #3b82f6);
  transition: width 0.3s ease;
}
.next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #b08968;
  color: white;
  font-size: 28px;
  cursor: pointer;
}
.hidden { visibility: visible; pointer-events: none; }


#restartBtn {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #2f3e34;
  color: white;
  cursor: pointer;
  font-size: 18px;
}


h2{
  font-size: 60px;
}

.stars {
  font-size: 90px;
  margin: 15px 0;
  color: gold;
}
.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}
.btn.red { background: #e74c3c; }
.btn.green { background: #27ae60; }
.btn.brown { background: #b08968; }

#mistakeInfo {
  font-size: 30px;     
  font-weight: bold;   
  font-style: italic;  
        
}
