/*
=================================================
Owned by Team 16
=================================================
*/

body {
    font-family: Arial, sans-serif;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5dc;
}
