.word-btn.correct {
  border-color: green !important;
}
.word-btn.incorrect {
  border-color: red !important;
}
line.correct {
  stroke: green !important;
}
line.incorrect {
  stroke: red !important;
}

.bottom-nav-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  padding: 0 1rem;
}

.bottom-nav-container .submit-btn {
  margin-top: 0;
}