/*
=================================================
Owned by Team 10 – Level 2 Game Page
=================================================
*/

.word-btn.correct {
  border-color: green !important;
}
.word-btn.incorrect {
  border-color: red !important;
}
line.correct {
  stroke: green !important;
}
line.incorrect {
  stroke: red !important;
}
